@keyframes myHeader {
    from{ color: red;}
    to {color: blue;}
}

body {
    background-color: black;
}

h1 {
    animation-name: myHeader;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}