@keyframes myHeader {
    from{ color: red;}
    to {color: blue;}
}

ul {
    margin: auto;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    list-style-type: none;
    align-content: center;
    width: 100%;
    background-color: #f1f1f1;
}

li {
    display: inline;
    margin: auto;
}

li a {
    color: #000;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}

body {
    margin: auto;
    width: 75%;
    background-color: rgb(112, 112, 112);
}

h1 {
    animation-name: myHeader;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.active {
    background-color: red;
    color: white;
}