div {
    height: 200px;
    width: 400px;
    background: white;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
    padding: 16px;
    border-radius: 10px;
}

body {
    background: #f10202;
    box-shadow: 2px 2px 10px grey
}